* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper-header, .wrapper-slider {
  background-color: #eee;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 49px;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo:hover {
  opacity: .8;
}

.logo:visited {
  opacity: .3;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  list-style-type: none;
  width: 440px;
}

.menu-item, .shopping-cart {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: 0.25px;
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin-top: 15px;
}

.menu-item:hover, .shopping-cart:hover {
  color: #fb565a;
}

.menu-item:visited, .shopping-cart:visited {
  opacity: .3;
}

.shopping-cart {
  position: relative;
  padding-left: 65px;
}

.shopping-cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: relative;
  background: url(../img/basket-icon.svg);
  right: 23px;
  opacity: .3;
}

.wrapper-title {
  width: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-title {
  max-width: 1160px;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
  margin: 73px auto 116px;
}

.wrapper-content {
  width: 1160px;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.filters {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-right: 140px;
}

.filters ul li {
  list-style-type: none;
}

.filters input[type="radio"], .filters input[type="checkbox"] {
  display: none;
}

.filters input[type="radio"] + label::before, .filters input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px #bdc3c7;
  left: 0;
}

.filters input[type="radio"] + label::before {
  border-radius: 50%;
}

.filters input[type="checkbox"] + label::before {
  border-radius: 3px;
}

.filters input[type="radio"]:checked ~ label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bdc3c7;
  top: 4px;
  left: 4px;
}

.filters input[type="checkbox"]:checked ~ label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  left: 0px;
  top: -6px;
  border: 5px solid #bdc3c7;
  border-top-color: transparent;
  border-right-color: transparent;
  transform:rotate(-45deg);
}


.filter-item, .grid-item, .filter-special {
  padding: 0;
  border: none;
}

.filter-item {
  margin: 0 0 58px;
}

.grid-item, .filter-special {
  margin: 0 0 26px;
}

.range-filter {
  margin-top: 49px;
}

fieldset legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 21px;
}

fieldset.filter-item legend {
  margin-bottom: 0px;
}

.filter-form fieldset label {
  font-size: 16px;
  position: relative;
  color: #283136;
  transition: color 0.6s ease;
  display: inline-block;
  margin-bottom: 21px;
  padding-left: 35px;
  cursor: pointer;
}

.filter-form fieldset label:hover {}

.filter-form-button {
  width: 260px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ededed;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.filter-form-button:hover {
  background-color: #dfdfdf;
}

.filter-form-button:active {
  background-color: #d5d5d5;
  color: #9d9d9d;
}

.range-controls {
  position: relative;
  height: 40px;
  margin-bottom: 20px;
  padding: 39px 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 15px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 12px;
  margin-left: 10px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}



.main-content {
  width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sorting {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sorting-title {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.sorting-list {
  max-width: 63%;
  margin-left: 171px;
}

.sorting-list li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 22px;
  cursor: pointer;
  color: #b2b2b2;
  text-transform: uppercase;
}

.sorting-list li:hover {
  color: #666666;
}

.sorting-list li:active, .sorting-list li:focus {
  color: #000000;
}

.sorting-list li:last-child {
  margin-right: 0;
}

.sorting-controls {
  position: relative;
}

.sorting-controls .icon-down-dir {
  position: absolute;
  display: block;
  border: 5px solid #a6a6a6;
  border-top-width: 10px;
  border-right-color: transparent;
  border-bottom-width: 0px;
  border-left-color: transparent;
  right: 20px;
  top: 5px;
  margin-right: 10px;
}

.sorting-controls .active, .sorting-controls .icon-down-dir:hover {
  border: 5px solid  #010101;
  border-top-width: 10px;
  border-right-color: transparent;
  border-bottom-width: 0px;
  border-left-color: transparent;
}

.sorting-controls .icon-up-dir:hover {
  border: 5px solid #010101;
  border-top-width: 0px;
  border-right-color: transparent;
  border-bottom-width: 10px;
  border-left-color: transparent;
}

.sorting-controls .icon-up-dir {
  position: absolute;
  display: block;
  border: 5px solid #a6a6a6;
  border-top-width: 0px;
  border-right-color: transparent;
  border-bottom-width: 10px;
  border-left-color: transparent;
  right: 0px;
  top: 5px;
}

.items {}

.items li {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  min-width: 360px;
  max-height: 615px;
  margin-bottom: 33px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: background 0.6s ease;
  background-color: #e9e9e9;
  position: relative;
}

.items li:nth-child(odd) {
  margin-right: 36px;
}

.items li:hover {
  background-color: #4d4d4d;
}

.hidden-info {
  opacity: 0;
  z-index: 0;
  position: absolute;
  transition: all 0.3s ease;
  bottom: 0;
  background-color: #eeeeee;
  width: 100%;
  min-height: 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.items li:hover .hidden-info {
  z-index: 1;
  opacity: 1;
}

.hidden-info h3 {
  margin-top: 30px;
}

.hidden-info h3 a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hidden-info h3 a:hover {
  color: #fb565a;
}

.hidden-info p {
  color: #6f6f6f;
  margin-top: 18px;
  max-width: 180px;
  text-align: center;
}

.hidden-info a.hidden-info-button {
  text-decoration: none;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 2px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  height: 50px;
}

.hidden-info a.hidden-info-button:hover {
  background-color: #e74246;
}

.item-header {
  width: 100%;
  height: 40px;
  position: relative;
  font-size: 0;
  padding-left: 15px;
  padding-top: 12px;
}

.item-header span {
  display: inline-block;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.pagination {
  width: 100%;
  margin-top: 32px;
}

.pagination a.num {
  display: inline-flex;
  font-size: 16px;
  width: 50px;
  height: 50px;
  margin-right: 7px;
  margin-bottom: 5px;
  line-height: 34px;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  border-radius: 3px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.pagination a.num:hover, .pagination a.num.active:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination a.num.active {
  background: #fff;
}

.pagination .next {
  display: inline-flex;
  font-size: 16px;
  width: 260px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 5px;
  line-height: 34px;
  background-color: #f2f2f2;
  border-radius: 3px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.pagination .next:hover {
  background-color: #dfdfdf;
}

.wrapper-map {
  width: 100%;
  display: flex;
  height: 416px;
  align-items: center;
  justify-content: center;
  margin-top: 53px;
}

.wrapper-contacts {
  display: flex;
  width: 1160px;
  position: absolute;
  z-index: 1;
}

.wrapper-form {
  width: 320px;
  height: 308px;
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: center;
}

.contacts {
  margin: 0 auto;
  padding: 0 50px;
}

.contacts-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  margin-top: 3px;
  margin-bottom: 24px;
}

.contacts-adress {
  font-size: 16px;
  line-height: 1.13;
  color: #666666;
  margin-bottom: 37px;
}

.contacts-button, .feedback-button {
  width: 219px;
  height: 50px;
  background-color: #fb565a;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
  margin: 0 auto;
  cursor: pointer;
}

.contacts-button:hover, .feedback-button:hover {
  background-color: #d6494d;
}

.map-marker {
  width: 231px;
  height: 190px;
  margin-right: 250px;
  margin-left: auto;
  margin-top: 40px;
}

.feedback {
  opacity: 0;
  position: fixed;
  width: 960px;
  height: 590px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
  padding: 54px 50px 50px 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.feedback-form-show {
  opacity: 1;
  z-index: 40;
}

.close-feedback {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: absolute;
  right: 108px;
  top: 67px;
  cursor: pointer;
  background: url(../img/close-cross.png);
}

.feedback p {
  display: inline-block;
  font-size: 16px;
}

p.feedback-title {
  font-size: 45px;
  margin-bottom: 50px;
}

.feedback p.full-width {
  width: 100%;
}

.feedback label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.feedback input, .feedback textarea {
  width: 360px;
  height: 50px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 0 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 40px;
  font-size: 12px;
  font-weight: bold;
  color: #bababa;
}

.feedback textarea {
  width: 764px;
  min-height: 115px;
  margin-right: 0;
  resize: none;
  padding-top: 9px;
  padding-bottom: 12px;
}

.feedback input:hover, .feedback textarea:hover {
  border-color: #a2a9ac;
}

.feedback-text {
  margin-top: 22px;
  margin-bottom: 47px;
}

.footer {
  height: 217px;
  display: flex;
  align-items: center;
}

.wrapper-footer {
  width: 1160px;
  display: flex;
  margin: 13px auto 0;
}

.social-icons {
  display: flex;
  margin-right: 128px;
  list-style-type: none;
}

.social-icons__item {
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
}

.social-icons__item:hover {
  background-color: #fb565a;
}

.social-icons__item a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.tagline {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  margin-bottom: 12px;
}

.discount {
  font-size: 16px;
  line-height: 1.38;
  color: #444;
}
